
@media (min-width: 576px) and (max-width:768px) {
    .title1{
        font: size 0.2rem;
        flex-direction: column;
    }   

    .about-container {
        flex-wrap: wrap;
        flex-direction: column;
        border: solid;
    }

    .font{
        width:100%
    }
    .project-container {
        display: flex;
        flex-direction: column;
    }   
}